mapforce/274/v1.0/X12274.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2012 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://enterprise.unitedhealthgroup.com/schema/message/x12/v6" xmlns:x12="http://enterprise.unitedhealthgroup.com/schema/canonical/standards/x12/v6" targetNamespace="http://enterprise.unitedhealthgroup.com/schema/message/x12/v6" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="x274_X12274">
		<xs:annotation>
			<xs:documentation>Health Care Provider Information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="x274_Header" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Header Information</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="x274_Submitter" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>LOOP ID - 2000A SUBMITTER LEVEL</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="x274_Receiver" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>LOOP ID - 2000B RECEIVER/NETWORK LEVEL</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="x274_Provider" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>PROVIDER </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="x274_Site" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>SITE </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="x274_Group" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>GROUP</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="x274_Header">
		<xs:annotation>
			<xs:documentation>Sponsor Name</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="x274_BegHierarchicalTransaction" type="x12_BHT_BegHierarchicalTransType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Beginning of Hierarchical Transaction</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_EffectiveDate" type="x12_DTM_DateTimeReference" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Effective Date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_BusinessContactInfo" type="x12_PER_AdminCommContractType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Contact Information</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="x12_BHT_BegHierarchicalTransType">
		<xs:annotation>
			<xs:documentation>Beginning of Hierarchical Transaction</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_HierarchicalStructureCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying Hierarchical Structure Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_BGN_BeginningSegment" type="x12_BGN_BeginningSegment" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="root_CodeTextType">
		<xs:annotation>
			<xs:documentation>Unrestricted in lenght Code definition.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="x12_BGN_BeginningSegment">
		<xs:annotation>
			<xs:documentation>To indicate the beginning of a transaction set</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_TransactionSetPurposeCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying purpose of transaction set</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_TransactionSetRefNum" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element is the transaction set reference number assigned bt the sender's application. It uniquely identifies this occurrence of the transaction for future reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_DateTime" type="x12_DTP_DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Transaction Set creation Date, Time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_TimeZoneCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time Zone Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_OriginalTransactionSetRefNum" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Original Transaction Set Reference Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_TransactionTypeCode" type="root_CodeTextType" minOccurs="0"/>
			<xs:element name="x12_ActionCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating type of action</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_SecurityLevelCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Security Level Code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_DTP_DateType">
		<xs:annotation>
			<xs:documentation>To specify any or all of a date, a time, or a time period.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_DateTimeQualifier" type="root_QualifierType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code specifying type of date or time, or both date and time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_DateTime" type="root_DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Expression of a date, a time or range of dates, time or dates and times(Ex -Patient DeathDate)
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_DateTimeFormatQualifier" type="root_FormatType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating the date format, time format, or date and time format (D8-CCYYMMDD)
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="root_QualifierType">
		<xs:annotation>
			<xs:documentation>Used to qualify value</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="root_DateTimeType">
		<xs:annotation>
			<xs:documentation>Represents Date, Time, or both Date and Time</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="root_Date" type="xs:string" minOccurs="0"/>
			<xs:element name="root_Time" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="root_DateTime" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="root_FormatType">
		<xs:annotation>
			<xs:documentation>Describes the format of the value (i.e CCMMDDYY, NN.NN)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="x12_DTM_DateTimeReference">
		<xs:annotation>
			<xs:documentation>Date Time Reference</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_DateTime" type="x12_DTP_DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DTM01, DTM02, DTM03, DTM05</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_TimeCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DTM04</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_DateTimePeriod" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DTM06 - Expression of a date, a time, or range of dates, times or dates and times</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_PER_AdminCommContractType">
		<xs:annotation>
			<xs:documentation>Identifies a person or office to whom administrative communications should be directed</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_ContactFunctionCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying major duty or responsibility of the person or group named</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_Name" type="demo_PersonNamePartType" minOccurs="0"/>
			<xs:element name="x12_CommunicationNumber" minOccurs="0" maxOccurs="3">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="x12_CommunicationNumberQualifier" type="root_QualifierType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code identifying the type of communication number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="x12_CommunicationNumber" type="root_CodeTextType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Complete communication number including the country and area code whrn applicablel</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="x12_PriorityOrSequenceNumber" type="root_CodeTextType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Priority or Sequence Number (1,2,3)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="x12_ContactInquiryReference" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact inquiry reference</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="demo_PersonNamePartType">
		<xs:annotation>
			<xs:documentation>A part of a name, e.g. first, middle, last name, or full name.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="x274_Submitter">
		<xs:annotation>
			<xs:documentation>TPA/Broker Name</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="x274_SubmitterLevel" type="x12_HL_InfoSourceLevelType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Submitter Level</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_SubmitterDetail" minOccurs="0">
					<xs:annotation>
						<xs:documentation>SUBMITTER NAME</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="x274_SubmitterName" type="x12_NM1_EventPartyType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Submitter Name</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_SubmitterContactInfo" type="x12_PER_AdminCommContractType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Submitter Contact Information</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="x12_HL_InfoSourceLevelType">
		<xs:annotation>
			<xs:documentation>To identify dependencies among and the content of the heirarchically elected groups of data segments</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_HierarchIDNumber" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique number assigned by a sender to identify a particular data segment in hierarchy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_HierarchParentIDNumber" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hierarchical Parent ID Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_HierarchLevelCode" type="root_CodeTextType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Code defining the charateriscics of a level in the hierarchical structure </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_NM1_EventPartyType">
		<xs:annotation>
			<xs:documentation>To identify a party by type of organization, name, and code.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence minOccurs="0" maxOccurs="25">
				<xs:element name="x12_PartyName" type="demo_PersonNameType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>This will store Responsible Party Name
</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x12_PartyNameQualifier" type="root_QualifierType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Qualifies whether this Primary Name, Allias, etc</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="x12_EntityIdentifierCode" type="com_CodeDescPairType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>"This will store PartyTypeRoleCode like Submitter/Receiver
ENUM below
31 Postal Mailing Address
36 Employer 
45 Drop-off Location
70 Prior Incorrect Insured
80 Hospital
1X Laboratory
3D Obstetrics and Gynecology Facility
6Y Case Manager
9K Key Person
E1 Pe"
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_EntityTypeQualifier" type="root_QualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This will identify is it a Person/Non-Person Entity
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_IdentificationCodeQualifier" type="root_QualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code designating the method of code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_IdentificationCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying a party or other code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_RelationshipCode" type="demo_RelationshipCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>"This will store Entity Relationship Code 
Example below
25 Established Patient
26 Not Established Patient
72 Unknown"
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_EntityIdCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This will store Identifiers like Member Identifier, Prior Incorrect Insured Identifier, Member Employer Identifier, Custodial Parent Identifier, Responsible Party Identifier, Provider Identifier, Coordination of Benefits Insurer Identification Code
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_LastNameOrOrgName" type="demo_PersonNamePartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Last name or organization name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="demo_PersonNameType">
		<xs:annotation>
			<xs:documentation>A person name composed of several parts.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="demo_Prefix" type="demo_NamePrefixType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prefix Used by an Individual with Name, e.g. Dr.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="demo_FirstName" type="demo_FirstNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An Individual's First Name or Given Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="demo_MiddleName" type="demo_MiddleNameType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An Individual's Middle Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="demo_LastName" type="demo_LastNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An Individual's Last Name or Family Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="demo_Suffix" type="demo_NameSuffixType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Suffix used by an Individual with Name, eg. I, II, Jr. Sr., etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="demo_CredSuffixText" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container for additional Name Suffix associated with a Person Credeintials like MD. for Physicians.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="demo_FullName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Full name concatenated</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="demo_NamePrefixType">
		<xs:annotation>
			<xs:documentation>Name prefix.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="demo_FirstNameType">
		<xs:annotation>
			<xs:documentation> First Name of an Individual</xs:documentation>
		</xs:annotation>
		<xs:restriction base="demo_PersonNamePartType"/>
	</xs:simpleType>
	<xs:simpleType name="demo_MiddleNameType">
		<xs:annotation>
			<xs:documentation> Middle Name of an Individual</xs:documentation>
		</xs:annotation>
		<xs:restriction base="demo_PersonNamePartType"/>
	</xs:simpleType>
	<xs:simpleType name="demo_LastNameType">
		<xs:annotation>
			<xs:documentation> Last Name of an Individual</xs:documentation>
		</xs:annotation>
		<xs:restriction base="demo_PersonNamePartType"/>
	</xs:simpleType>
	<xs:simpleType name="demo_NameSuffixType">
		<xs:annotation>
			<xs:documentation>Name suffix.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="com_CodeDescPairType">
		<xs:annotation>
			<xs:documentation>Reusable Element used for reference data structures. handles Code valus and description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="com_CodeValue" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code Value </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="com_CodeDesc" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="demo_RelationshipCodeType">
		<xs:annotation>
			<xs:documentation>Specifies relationship code betwen two parties (Spouse, Self, Dependent...)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="demo_RelationshipCd" type="com_CodeDescPairType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="x274_Receiver">
		<xs:annotation>
			<xs:documentation>TPA/Broker Account Information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="x274_ReceiverLevel" type="x12_HL_InfoSourceLevelType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Receiver/Network Level</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_ReceiverDetail" minOccurs="0">
					<xs:annotation>
						<xs:documentation>LOOP ID - 2100BA RECEIVER NAME</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="x274_ReceiverName" type="x12_NM1_EventPartyType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Receiver Name</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="x274_NetworkOrProductNameDetail" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>LOOP ID - 2100BB NETWORK OR PRODUCT NAME</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="x274_NetworkOrProductName" type="x12_NM1_EventPartyType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Network or Product Name</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="x274_Provider">
		<xs:annotation>
			<xs:documentation>Payer</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="x274_ProviderHierarchicalLevel" type="x12_HL_InfoSourceLevelType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Provider Hierarchical Level</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_ProviderDetail" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="x274_ProviderName" type="x12_NM1_EventPartyType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider Name</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_AdditionalNameInfo" type="x12_N2_AdditionalNameInfo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Additional Provider Name Information</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_CommunicationContact" type="x12_PER_AdminCommContractType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider Communications Contact</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_DemographicInfo" type="x12_DMG_DemographicInfoType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider’s Demographic Information</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_DegreeInfo" type="x12_DEG_DegreeInfoType" minOccurs="0" maxOccurs="9">
								<xs:annotation>
									<xs:documentation>Provider’s Degree Information</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_PlaceofBirthInfo" type="x12_IND_AdditionalIndividualDMGInfoType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider’s Place of Birth Information</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_LanguageSpokenBytheProvider" type="x12_LUI_LanguageUseType" minOccurs="0" maxOccurs="9">
								<xs:annotation>
									<xs:documentation>Languages Spoken By the Provider</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_AttestationDate" type="x12_DTP_DateType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Attestation Date</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_EffectiveDate" type="x12_DTP_DateType" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation>Effective Date</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_DeceasedDate" type="x12_DTP_DateType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider’s Deceased Date</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_AffiliationEffectiveDate" type="x12_DTP_DateType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Affiliation Effective Date</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="x274_AddressDetail" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation>PROVIDER ADDRESS TYPE</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="x274_AreaofSpecializationDetail" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>PROVIDER’S AREA OF
SPECIALIZATION</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_LicenceOrCertOrRegis" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation>PROVIDER LICENSE/CERTIFICATION/REGISTRATION</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="x274_LicenceOrCertOrRegis" type="x12_HPL_HealthCareProviderLicenseType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Provider License/Certification/Registration</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="x274_LicenceOrCertOrRegisDates" type="x12_DTP_DateType" minOccurs="0" maxOccurs="2">
											<xs:annotation>
												<xs:documentation>Provider License/Certification/Registration Dates</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="x274_IDNumbers" type="x12_REF_ReferenceInfoType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Provider Identification Numbers</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="x274_ProviderEducationDetail" minOccurs="0">
					<xs:annotation>
						<xs:documentation>PROVIDER EDUCATIONAL/TRAINING FACILITY NAME</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="x274_EducationalFacilityName" type="x12_NM1_EventPartyType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider Educational/Training Facility Name </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_EducationStatus" type="x12_API_ActivityorProcessInfoType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider Education/Training Status</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_DegreeInfo" type="x12_DEG_DegreeInfoType" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation>Provider’s Degree Information</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_EducationalDates" type="x12_DTP_DateType" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation>Provider’s Educational/Training Dates</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="x274_AddressDetail" minOccurs="0">
								<xs:annotation>
									<xs:documentation>EDUCATION/TRAINING FACILITY
ADDRESS INFORMATION</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="x274_AreaofSpecializationDetail" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>PROVIDER’S
EDUCATION/TRAINING AREA OF SPECIALIZATION</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="x274_InsuranceCoverageDetail" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>PROVIDER INSURANCE
COVERAGE</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="x274_InsuranceCoverage" type="x12_NM1_EventPartyType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider Insurance Coverage</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_PolicyAmount" type="x12_AMT_AmountType" minOccurs="0" maxOccurs="4">
								<xs:annotation>
									<xs:documentation>Insurance Coverage Policy Amounts</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_PolicyNumberAndCoverageDate" type="x12_BCI_BasicClaimInfoType" minOccurs="0" maxOccurs="9">
								<xs:annotation>
									<xs:documentation>Provider Policy Number and Coverage Dates</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="x274_AffiliatedEntityNameDetail" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>AFFILIATED ENTITY NAME</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_ElectronicBillerNameDetail" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ELECTRONIC BILLER NAME</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="x274_ElectronicBillerName" type="x12_NM1_EventPartyType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Electronic Biller Name</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="x12_N2_AdditionalNameInfo">
		<xs:annotation>
			<xs:documentation>Additional Name Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_Name" type="demo_PersonNamePartType" minOccurs="0" maxOccurs="4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_DMG_DemographicInfoType">
		<xs:annotation>
			<xs:documentation>Demographic information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_DateTimeFormatQualifier" type="root_FormatType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating the date format, time format, or both</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_DateTimePeriod" type="root_DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Expression of a date, a time, or range of dates, times or dates and times</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_GenderCode" type="demo_GenderCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating the sex of individual</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_MaritalStatusCode" type="demo_MaritalStatusDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code defining marital status of a person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_CompositeRaceOrEthnicity" type="x12_C056_CompositeRaceOrEthnicityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying a party or other code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_CitizenshipStatusCode" type="com_CodeDescPairType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CitizenshipStatusCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_CountryCode" type="loc_CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_BasisOfVerificationCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Basis of verification code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_Quantity" type="root_QuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quantity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_CodeListQualifierCode" type="root_QualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying a specific industry code list</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_IndustryCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating a code from a specific industry code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="demo_GenderCodeType">
		<xs:annotation>
			<xs:documentation>Gender</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="demo_MaritalStatusDescriptionType">
		<xs:annotation>
			<xs:documentation>Person Marital Status, i.e. Single, Married, Divorced, etc</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="x12_C056_CompositeRaceOrEthnicityType">
		<xs:annotation>
			<xs:documentation>Race or ethnicity information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_RaceOrEthnicityCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating the racial or ethnic background of a person</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_CodeListQualifierCode" type="root_QualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying a specific industry code list</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_IndustryCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating a code from a specific industry code list</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="loc_CountryCodeType">
		<xs:annotation>
			<xs:documentation>ISO 3166-1 compatible country code, either 3 digit alpha, 2 digit alpha, or 3 digit numeric . See http://en.wikipedia.org/wiki/ISO_3166-1 . </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}|[A-Z]{2,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="root_QuantityType">
		<xs:annotation>
			<xs:documentation>Represents a numeric value</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="x12_DEG_DegreeInfoType">
		<xs:annotation>
			<xs:documentation>To provide information about an educational institution's academic award</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_AcademicDegreeCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating the level of postsecondary academic award earned                              Academic Degree Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_GraduationDate" type="x12_DTP_DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the graduation date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_ProviderProfessionalDesignation" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Required to supply the specific degree conferred. Abbreviations
may be used as follows:
BS = Bachelor of Science
MS = Master of Science
MD = Doctor of Medicine
DO = Doctor of Osteopathy
DC = Doctor of Chiropractic
DMD = Doctor of Dental Medicine
DDS = Doctor of Dental Surgery
OD = Doctor of Optometry
DPM = Doctor of Podiatric Medicine
PT = Physical Therapist
CRNA = Certified Registered Nurse Anesthetist
CRNP = Certified Registered Nurse Practitioner
SLP = Speech Language Pathologist.
All other designations required as a full description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_StatusReasonCode" type="root_CodeTextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_IND_AdditionalIndividualDMGInfoType">
		<xs:annotation>
			<xs:documentation>To provide additional demographic information to the receiving school,institution, or agency to assist in identifying the particular student</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_CountryCode" type="loc_CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying the country</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_StateOrProvinceCode" type="loc_StateCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code (Standard State/Province) as defined by appropriate government agency</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_County" type="loc_CountyCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying the county within a state</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_CityName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Free-form text for city name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_LanguageCode" type="root_CodeTextType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="x12_LanguageProficiencyIndicator" type="root_CodeTextType" minOccurs="0"/>
			<xs:element name="x12_IdentificationCode" type="x12_REF_ReferenceInfoType" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="loc_StateCodeType">
		<xs:annotation>
			<xs:documentation>Unrestricted state code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="loc_CountyCodeType">
		<xs:annotation>
			<xs:documentation>3-digit numeric county code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="x12_REF_ReferenceInfoType">
		<xs:annotation>
			<xs:documentation> Specifies identifying information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_ReferenceIdQualifier" type="root_QualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code qualifying the reference identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_ReferenceId" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference information as define for a particular transaction set or as specified in reference identification qualifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_Description" type="root_DescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="root_DescriptionType">
		<xs:annotation>
			<xs:documentation> Domains for Descriptions. Description of the reference data as defined by a standard code system. The description length is derived empirically, i.e. Clinical domain applications use descriptions less then 200 characters in length.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="x12_LUI_LanguageUseType">
		<xs:annotation>
			<xs:documentation>Specifies language, type of usage and proficeincy or fluency</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_IdentificationCodeQualifier" type="root_QualifierType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code designating the system/method of code structure used for Identification CodeLD	
NISO     Z39.53 Language Codes
LE	ISO 639 Language Codes
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_IdentificationCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying a party or other code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_LanguageDescription" type="root_DescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of the language</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_UseOfLanguageIndicator" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating the use of a language
5	Language Reading
6	Language Writing
7	Language Speaking
8	Native Language
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_LanguageProficiencyIndicator" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Language Proficiency Indicator</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="x274_AddressDetail">
		<xs:annotation>
			<xs:documentation>Address Type  - Global</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="x274_AddressTypeID" type="x12_NX1_EntityIdentificationType" minOccurs="0"/>
				<xs:element name="x274_AdditionalNameInfo" type="x12_N2_AdditionalNameInfo" minOccurs="0"/>
				<xs:element name="x274_StreetAddress" type="x12_N3_PartyLocationType" minOccurs="0"/>
				<xs:element name="x274_GeographicLocation" type="x12_N4_GeographicLocationType" minOccurs="0"/>
				<xs:element name="x274_ContactInfo" type="x12_PER_AdminCommContractType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="x12_NX1_EntityIdentificationType">
		<xs:annotation>
			<xs:documentation>To define the attributes of a property or an entity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_EntityIdentifierCode" type="root_CodeTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Code identifying an organizational entity, a physical location, property or an
individual</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_N3_PartyLocationType">
		<xs:annotation>
			<xs:documentation>Location of the named party</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_AddressLine1" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address line 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_AddressLine2" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address line 2</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_N4_GeographicLocationType">
		<xs:annotation>
			<xs:documentation>Geographic place of the named party</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_CityName" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>City name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_StateCode" type="loc_StateCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>State or province code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_PostalCode" type="loc_PostalCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code defining international postal zone code </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_CountryCode" type="loc_CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying country</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_LocationQualifier" type="root_QualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code idenifying type of location</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_LocationIdentifier" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code which identifies a specific location</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_CountrySubdivisionCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying the country subdivision</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="loc_PostalCodeType">
		<xs:annotation>
			<xs:documentation>A code of letters and digits added to a postal address to aid in the sorting of mail</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="loc_PostalCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A code of letters and digits added to a postal address to aid in the sorting of mail</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="x274_AreaofSpecializationDetail">
		<xs:annotation>
			<xs:documentation>Area of Specialization - Global</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="x274_AreaofSpecialization" type="x12_LQ_IndustryCodeIdentificationType" minOccurs="0"/>
				<xs:element name="x274_CertifyingBoardName" type="x12_N1_PartyIdentifierType" minOccurs="0"/>
				<xs:element name="x274_ProviderCertificationNumber" type="x12_N1_PartyIdentifierType" minOccurs="0"/>
				<xs:element name="x274_ProvidersNetworkRole" type="x12_TPB_BusinessProfessionalTitleType" minOccurs="0" maxOccurs="2"/>
				<xs:element name="x274_DatesofBoardCertification" type="x12_DTP_DateType" minOccurs="0" maxOccurs="9"/>
				<xs:element name="x274_SpecialtyInformationDetails" type="x12_YNQ_YesNoQuestionType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="x12_LQ_IndustryCodeIdentificationType">
		<xs:annotation>
			<xs:documentation>To identify standard industry codes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_CodeListQualifierCode" type="root_QualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying a specific industry code list                                       68 Healthcare Provider Taxonomy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_IndustryCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating a code from a specific industry code list              Ex: Provider Specialty Code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_N1_PartyIdentifierType">
		<xs:annotation>
			<xs:documentation>This will identify a party by type of organization, name, and code</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_EntityIdentifierCode" type="root_CodeTextType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code identifying an organizational entity, a physical location, property, or an individual</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_Name" type="demo_PersonNamePartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Free-form name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_IdentificationCodeQualifier" type="root_QualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating Unit or Basis of Measurement (i.e. Federal Taxpayer's Identification Number)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_IdentificationCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identification code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_EntityRelationshipCode" type="demo_RelationshipCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entity relationship code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_SecEntityIdentifierCode" type="root_CodeTextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_TPB_BusinessProfessionalTitleType">
		<xs:annotation>
			<xs:documentation>To identify title of an individual within a company</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_NetworkOrProductRoleCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provider Network or Product Role Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_Description" type="root_DescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Free-Form Message Text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_AgencyQualifierCode" type="root_CodeTextType" minOccurs="0"/>
			<xs:element name="x12_SourceSubqualifier" type="root_QualifierType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_YNQ_YesNoQuestionType">
		<xs:annotation>
			<xs:documentation>To identify and answer yes and no questions, including the date, time, and comments further qualifying the condition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_ConditionIndicator" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating a condition           YR Known Details are Listed
REQUIRED</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_ResponseCode" type="root_IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating a Yes or No condition or response                 Y Yes , N No</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_DateTime" type="x12_DTP_DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>YNQ03,YNQ04</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_MessageText" type="root_DescriptionType" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>YNQ05, YNQ06, YNQ07, YNQ10</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_IndustryCodeIdentification" type="x12_LQ_IndustryCodeIdentificationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>YNQ08, YNQ09</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="root_IndicatorType">
		<xs:annotation>
			<xs:documentation>Represents an indicator (Y, N, U, True, False, etc.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="x12_HPL_HealthCareProviderLicenseType">
		<xs:annotation>
			<xs:documentation>To provide license, certification, accreditation, and registration information for health care providers</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_ReferenceID" type="x12_REF_ReferenceInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HPL01, HPL02
HPL01 - Reference Identification Qualifier
0B State License Number
5J Driver’s License
5K Commercial Driver’s License
AEC Government Registration Number
AFV State Controlled Substance License Number
AFZ Certificate Number
DH Drug Enforcement Administration Number 
EW Mammography Certification Number
KW Certification
P2 Previous Drug Enforcement Administration Number 
PN Permit Number
Q8 Registration Number
QD Replacement Drug Enforcement Administration Number
CODE SOURCE 73: Drug Enforcement Administration
YA Prior Certificate Number
ZZ Mutually Defined </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_StatusCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identification Number Status Code
Code identifying the status of a business transaction, such as a claim, policy, real
estate, or securities transactionv04 Conditional Issue
20 Lapsed
36 Reinstatement
43 Limited
49 On Probation
86 Temporary
AC Active
EX Expired
IA Inactive
RC Rescinded
RS Restricted
RV Revoked
SS Suspended
SU Surrendered</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_StateorProvinceCode" type="loc_StateCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Issuing State Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_Description" type="root_DescriptionType" minOccurs="0"/>
			<xs:element name="x12_LicensingCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code For Licensing, Certification, Registration,
or Accreditation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_API_ActivityorProcessInfoType">
		<xs:annotation>
			<xs:documentation>To provide information on activity or process</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_CodeCategory" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the situation or category to which the code applies             ZZ Mutually Defined</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_ActionCode" type="root_CodeTextType" minOccurs="0"/>
			<xs:element name="x12_MaintenanceTypeCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>080 Continuing Medical Education (CME)
081 Faculty Appointment
082 Health Care Fellowship Appointment
083 Health Care Internship Appointment
084 Health Care Residency Appointment
B22 Certificate of completion or attendance
D53 Graduate from a College
D55 Graduate from a University Program
D62 Graduate from a Technical Institute
EB4 Graduated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_EducationorTrainingStatusCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Education or Training Status Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_AffectedAreaorSectionCode" type="root_CodeTextType" minOccurs="0"/>
			<xs:element name="x12_InsuranceTypeCode" type="root_CodeTextType" minOccurs="0"/>
			<xs:element name="x12_LoanTypeCode" type="root_CodeTextType" minOccurs="0"/>
			<xs:element name="x12_InformationStatusCode" type="root_CodeTextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_AMT_AmountType">
		<xs:annotation>
			<xs:documentation>Monetary Amount Information. To indicate the total monetary amount.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_AmountQualifierCode" type="root_QualifierType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code to qualify amount. Ex. Claim Amount, Service Amount.. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_MonetaryAmount" type="root_AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Monetary Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_CreditDebitInd" type="root_IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Credit or Debit Indicator</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="root_AmountType">
		<xs:annotation>
			<xs:documentation>Represents an amount</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="x12_BCI_BasicClaimInfoType">
		<xs:annotation>
			<xs:documentation>To identify information basic to the processing of any claims transaction</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_IndustryCode" type="root_CodeTextType" minOccurs="0"/>
			<xs:element name="x12_InsuranceTypeCode" type="root_CodeTextType" minOccurs="0"/>
			<xs:element name="x12_PolicyOrContractNumber" type="x12_REF_ReferenceInfoType" minOccurs="0"/>
			<xs:element name="x12_StateorProvinceCode" type="loc_StateCodeType" minOccurs="0"/>
			<xs:element name="x12_LiabilityCoveragePeriod" type="x12_DTP_DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BCI05,BCI06</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_ReportTypeCode" type="root_CodeTextType" minOccurs="0"/>
			<xs:element name="x12_CurrencyCode" type="root_CodeTextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="x274_AffiliatedEntityNameDetail">
		<xs:annotation>
			<xs:documentation>Affiliated Entity Name - Global</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="x274_AffiliatedEntityName" type="x12_NM1_EventPartyType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Affiliated Entity Name </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_AdditionalNameInfo" type="x12_N2_AdditionalNameInfo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Affiliated Entity Additional Name Information </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_ContactInfo" type="x12_PER_AdminCommContractType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Affiliated Entity Contact Information </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_EffecAndTermDates" type="x12_DTP_DateType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Effective and Termination Dates of Affiliation </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_HospitalPrivileges" type="x12_HAD_HospitalAffiliationDetailType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Hospital Privileges </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="x274_AddressDetail" minOccurs="0"/>
				<xs:element ref="x274_AreaofSpecializationDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="x12_HAD_HospitalAffiliationDetailType">
		<xs:annotation>
			<xs:documentation>To provide detail information describing a provider’s affiliation to a specific hospital</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_MedicalStaffStatusCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provider Medical Staff Status Code       Code identifying the status of a business transaction, such as a claim, policy, real
estate, or securities transaction             AC Active
IA Inactive</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_AdmittingPrivilegeIndicator" type="root_IndicatorType" minOccurs="0"/>
			<xs:element name="x12_PrimaryHospitalAffiliationIndicator" type="root_IndicatorType" minOccurs="0"/>
			<xs:element name="x12_ResponseCode" type="root_IndicatorType" minOccurs="0"/>
			<xs:element name="x12_IndustryCode" type="x12_LQ_IndustryCodeIdentificationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HAD05, HAD06</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="x274_Site">
		<xs:annotation>
			<xs:documentation>Member Level Detail</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="x274_SiteHierarchicalLevel" type="x12_HL_InfoSourceLevelType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Site Hierarchical Level</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_SiteOrLocDetail" minOccurs="0">
					<xs:annotation>
						<xs:documentation>SITE/LOCATION NAME</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="x274_SiteOrLocName" type="x12_NM1_EventPartyType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Site/Location Name </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_AdditionalNameInfo" type="x12_N2_AdditionalNameInfo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Site/Location Additional Name Information</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_ContactInfo" type="x12_PER_AdminCommContractType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Site/Location Contact Information </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_LanguagesSpokenAtSite" type="x12_LUI_LanguageUseType" minOccurs="0" maxOccurs="9">
								<xs:annotation>
									<xs:documentation>Languages Spoken at this Site </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_EffecAndTermDates" type="x12_DTP_DateType" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation>Site/Location Effective and Termination Dates </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_ProvidersWorkSchedule" type="x12_WS_WorkScheduleType" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation>Provider’s Work Schedule at This Site/Location </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_ProvidersPatientAcceptance" type="x12_CRC_ConditionsIndType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider’s Patient Acceptance at This Site/Location </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_ProvidersPracticeRestrictions" type="x12_PDI_PracticeDetailInfoType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider’s Practice Restrictions at This Site/Location </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="x274_AddressDetail" minOccurs="0">
								<xs:annotation>
									<xs:documentation>SITE/LOCATION ADDRESS TYPE</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="x274_AreaofSpecializationDetail" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>PROVIDER’S AREA OF
SPECIALIZATION AT THIS SITE/LOCATION</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_SiteOrLocID" minOccurs="0" maxOccurs="4">
								<xs:annotation>
									<xs:documentation>SITE/LOCATION IDENTIFICATION
NUMBERS</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="x274_SiteOrLocIDNum" type="x12_REF_ReferenceInfoType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Site/Location Identification Numbers </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="x274_SiteOrLocIDNumDates" type="x12_DTP_DateType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Site/Location Identification Number Dates</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="x274_AffiliatedEntityNameDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="x12_WS_WorkScheduleType">
		<xs:annotation>
			<xs:documentation>To specify an individual’s work schedule</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_OfficeHoursCode" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1 1st Week of the Month
2 2nd Week of the Month
3 3rd Week of the Month etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_OfficeHoursStartTime" type="x12_DTP_DateType" minOccurs="0"/>
			<xs:element name="x12_OfficeHoursEndTime" type="x12_DTP_DateType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_CRC_ConditionsIndType">
		<xs:annotation>
			<xs:documentation>To supply Information on conditions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_CodeCategory" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the situation or category to which the code applies (07-Ambulance Certification, 70 - Hospice)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_ResponseCode" type="root_IndicatorType" minOccurs="0"/>
			<xs:element name="x12_ConditionCode" type="root_CodeTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Condition Indicator (01- Patient was admitted to a hospital, 04- Patient was moved by stretcher, 05- Patient was unconscious or in shock,  65- Open)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="x12_PDI_PracticeDetailInfoType">
		<xs:annotation>
			<xs:documentation>To provide detail information on a health care provider’s practice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x12_GenderCode" type="demo_GenderCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code indicating the sex of the individual</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_AgeRangeMinimum" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The value specifying the minimum of the measurement range</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_AgeRangeMaximum" type="root_CodeTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The value specifying the maximum of the measurement range</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x12_ResponseCode" type="root_IndicatorType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="x274_Group">
		<xs:annotation>
			<xs:documentation>Member Name</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="x274_GroupHierarchicalLevel" type="x12_HL_InfoSourceLevelType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Provider Group Hierarchical Level</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="x274_GroupNameDetail" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="x274_GroupName" type="x12_NM1_EventPartyType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider Group Name</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_AdditionalNameInfo" type="x12_N2_AdditionalNameInfo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider Group Street Address</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_ContactInfo" type="x12_PER_AdminCommContractType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Provider Group Geographic Location</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_AffiliationEffectiveDate" type="x12_DTP_DateType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Contact Information For Group Address</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="x274_AddressDetail" minOccurs="0">
								<xs:annotation>
									<xs:documentation>PROVIDER GROUP’S AREA OF
SPECIALIZATION</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="x274_AreaofSpecializationDetail" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>PROVIDER GROUP’S AREA OF
SPECIALIZATION</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="x274_GroupIDNumbers" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>PROVIDER GROUP
IDENTIFICATION NUMBERS</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="x274_IDNumbers" type="x12_REF_ReferenceInfoType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="x274_AffiliatedEntityNameDetail" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="x274_ElectronicBillerNameDetail" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="x274_ElectronicBillerName" type="x12_NM1_EventPartyType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
